

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>

<script type ="text/javascript">
function selectAll(check){
  var radio, i = 0;
  while (radio = check.form.elements[i++]){
    if (radio.type == "radio" && radio.value==check.value){
      radio.checked = true;
      if(radio.value > 40){
        document.getElementsByName("cuarto").forEach( elemento => {
          elemento.innerHTML = check.value;
        });
      }
    }
  }

//Solo una asignatura por cuadro
  document.getElementById(check.name).innerHTML = check.value;


}

function showSubject(tick){
  
}
</script>

<!--SEGUNDO-->
<%  var elmg= "ELMG"; %>


<!--CUARTO TELEMATICA-->
<%	var rcmo= "RCMO"; %>
<%  var iweb= "IWEB"; %>
<%  var cdps= "CDPS"; %>
<%  var reco= "RECO"; %>
<%  var segu= "SEGU"; %>

<form id="group-form" method= "POST" action= "/done">
	<input type="hidden" name="asignaturas[0]" value = <%=elmg%>>

  <input type="hidden" name="asignaturas[1]" value = <%=rcmo%>>
  <input type="hidden" name="asignaturas[2]" value = <%=iweb%>>
  <input type="hidden" name="asignaturas[3]" value = <%=cdps%>>
  <input type="hidden" name="asignaturas[4]" value = <%=reco%>>
  <input type="hidden" name="asignaturas[5]" value = <%=segu%>>

<h4> Mostrar: </h4>
<input type="checkbox" name="cursos">Primero
<input type="checkbox" name="cursos">Segundo
<input type="checkbox" name="cursos">Tercero
<input type="checkbox" name="cursos">Cuarto Sistemas
<input type="checkbox" name="cursos">Cuarto Telemática
<input type="checkbox" name="cursos">Cuarto Electrónica
<input type="checkbox" name="cursos">Cuarto Imagen


<table cellpadding = "5">
<tr>
<th style = "text-align: center">ASIGNATURA</th>
<th style = "text-align: center">SELECCIÓN</th>
<th style = "text-align: center">GRUPO</th>
</tr>
  <!-- SEGUNDO -->
  <tr>
    <th>ELECTROMAGNETISMO</th>
    <th name = "segundo" id="group[<%=elmg%>]" style = "text-align: center"></th>
    <th>
      <input type="radio" name="group[<%=elmg%>]" value="21" onclick="selectAll(this)">21 
      <input type="radio" name="group[<%=elmg%>]" value="22" onclick="selectAll(this)">22 
      <input type="radio" name="group[<%=elmg%>]" value="23" onclick="selectAll(this)">23
      <input type="radio" name="group[<%=elmg%>]" value="24" onclick="selectAll(this)">24
      <input type="radio" name="group[<%=elmg%>]" value="25" onclick="selectAll(this)">25
    </th> 
  </tr>

  <tr>
    <!-- CUARTO: TELEMÁTICA -->
    <th>REDES DE COMUNICACIONES MÓVILES</th>
    <th name = "cuarto" id="group[<%=rcmo%>]" style = "text-align: center"></th>
    <th>
      <input type="radio" name="group[<%=rcmo%>]" value="42" onclick="selectAll(this)">42 
    </th>
  </tr>

  <tr>
    <th>INGENIERÍA WEB</th>
    <th name = "cuarto" id="group[<%=iweb%>]" style = "text-align: center"></th>
    <th>
      <input type="radio" name="group[<%=iweb%>]" value="42" onclick="selectAll(this)">42 
    </th>
  </tr>

  </tr>
    <th>CENTRO DE DATOS Y PROVISIÓN DE SERVICIOS</th>
    <th name = "cuarto" id="group[<%=cdps%>]" style = "text-align: center"></th>
    <th>
      <input type="radio" name="group[<%=cdps%>]" value="42" onclick="selectAll(this)">42 
    </th>
  </tr>

  <tr>
    <th>REDES COMPARTIDAS</th>
    <th name = "cuarto" id="group[<%=reco%>]" style = "text-align: center"></th>
    <th>

      <input type="radio" name="group[<%=reco%>]" value="42" onclick="selectAll(this)">42 
    </th>
  </tr>

  </tr>
    <th>SEGURIDAD EN SISTEMAS Y REDES DE TELECOMUNICACIÓN</th>
    <th name = "cuarto" id="group[<%=segu%>]" style = "text-align: center"></th>
    <th>
      <input type="radio" name="group[<%=segu%>]" value="42" onclick="selectAll(this)">42 
    </th>
  </tr>


  </tr>
 




</table>
<br>
<input type="submit" value="Save">
</form>

